body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}
.car-card {
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #c60907;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #a20806;
}
#carContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}